*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body 
{
    background-color: aqua;
    font-family: 'Times New Roman', Times, serif;
}
.grid
{
    width: 70%;
    border: 5px #222;
    margin: 50px auto;
    font-size: 50px;
    }
.grid div {
    padding: 20px;
    color: aliceblue;
    line-height: 50px;
    text-align: center;
    background-color: #bb6565;
    border: 5px solid #222;

}